body {
    font-family: sans-serif;
}
"https://foni.papik.pro/uploads/posts/2024-09/foni-papik-pro-6z0h-p-kartinki-smeshnie-koti-na-prozrachnom-fone-11.png"
body {
    font-family: sans-serif;
    background-color: blanchedalmond;
    width: 600px;
}
h1 {
    text-align: center;
}
main img {
     text-align: center;
}
header a {
    text-decoration: none;
    border: 1px solid orange;
    background-color: rgb(255, 227, 103);
    padding: 5px;
    border-radius: 10px;
    
}

header {
    margin-top: 20px;
}
header img {
    position: absolute;
    margin-top: -100px;
    margin-left: 500px;
}
